@media (max-width: 400px) {
    .services {
        background: var(--services_background);
        padding-top: 90px;
        font-family: 'Manrope', sans-serif;
        padding-bottom: var(--section_padding-bottom);
        position: relative;
        &_title {
            @extend .section_title;
        }
        &_subtitle {
            & span {
                display: block;
                margin-top: 13px;
                color: #1A1A1A;
                text-align: center;
                font-size: 26px;
                font-weight: 600;
                line-height: 110.8%;
                opacity: 1;
            }
            & p {
                margin-top: 12px;
                max-width: 719px;
                text-align: center;
                font-size: 18px;
                font-style: normal;
                font-weight: 400;
                line-height: 171.3%;
                color: #211F1F;
                margin: 0 auto;
                opacity: 0.800000011920929;
            }
        }
        
    }
    
}