@media (max-width: 700px) {
    .first_screen {
        &_content {
            & .container {
                flex-direction: column;
                gap: 30px;
            }
        }
        &_right {
            max-width: 100%;
            width: 100%;
            flex-direction: row;
            justify-content: space-between;
            &_item {
                width: 200px;
                height: 234px;
            }
            &_item:first-child {
                z-index: 2; 
            }
        }
        &_person {
            right: 0px;    
        }
    }
}