@media (max-width: 900px) {
    .header {
        &_nav {
            & ul {
                width: 100%;
            }
        }
        &_phones {
            width: 100%;
        }
    }
    .about {
        &_me {
            flex-direction: column;
            &_right {
                text-align: center;
                &_btn {
                    display: block;
                    font-size: 20px;
                    margin: 0 auto;
                }
                &_data {
                    text-align: left;
                }
            }
        }
        &_characteristics {
            width: 100%;
            flex-direction: column;
            gap: 30px;
            &_item {
                width: 60%;
                max-width: 60%;
                text-align: center;
                margin: 0 auto;
            }
        }
        &_box {
            grid-template-columns: 1fr;
            gap: 40px;
            justify-content: space-between;
        }
    }
    .audit {
        &_box {
            &_item {
                width: 100%;
            }
        }
    }
}