.reviews_block {
    margin-top: 32px;
    text-align: center;
    overflow: visible;
    
}

.reviews_media_item {
    padding: 0px;
    background-color: #f0f1f4;
    overflow: visible;
    margin-top: 50px;
    border-radius: 10%;
    max-width: (33.3% - 240px);
   
    padding-bottom: 20px;
    
}

.review-img {
    margin-top: -30px;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-size: cover;
    /*background-position: center;*/
    background-repeat: no-repeat;

}

.review-header {
    display: flex;
    flex-direction: column;
    /*justify-content: end;*/
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

.review-header p{
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 0px;
}

.review-header > p:nth-child(2) {
    font-weight: bold;
    font-size: 18px;
    min-height: 50px;
    padding-top: 3px;
}

.review-header > p:nth-child(3) {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 16px;
    /*display: flex;*/
    /*justify-content: flex-end;*/
    /*width: 100%;*/

}

.card-body-text {
    font-size: 16px;
    display: -webkit-box;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-wrap: break-word;
    margin-top: 0px;
    padding-left: 3vw;
    padding-right: 3vw;
}

@media only screen and (max-width: 720px) {
    
    .reviews_block {
        max-width: 400px;
    }

    .reviews_media_item {
        width: 100%;
        min-width: 280px !important;
    }
   
}