.algorithm {
    padding-top: 128px;
    font-family: 'Manrope', sans-serif;
    padding-bottom: var(--section_padding-bottom);
    background: #f0f1f4;
    position: relative;
    &_title {
        @extend .section_title;
    }
    &_subtitle {
        @include section_subtitle(730px, 18px);
    }
    &_description {
        max-width: 650px;
        margin-top: 2px;
        color: #211F1F;
        text-align: center;
        font-size: 18px;
        font-weight: 400;
        line-height: 171.3%;
        opacity: 0.800000011920929;
        margin: 0 auto;
    }
    &_box {
        display: grid;
        grid-template-columns: repeat(4, 260px);
        justify-content: space-between;
        margin-top: 60px;
        &_item {
            text-align: center;
            &_icon {
                @extend .btn_with_gradient_border;
                position: relative;
                padding: 8px 46px;
                border-radius: 50%;
                width: fit-content;
                margin: 0 auto;
                &::before {
                    padding: 8px 46px;
                    border-radius: 50%;
                }
                & p {
                    font-size: 46px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 208%;
                    width: fit-content;
                    &::before {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 2.25px;
                        left: -40px;
                        top: 0;
                        bottom: 0;
                        margin-top: auto;
                        margin-bottom: auto;
                        background: url("../../img/algorithm_prev.png");
                    }
                    &::after {
                        content: "";
                        position: absolute;
                        width: 40px;
                        height: 2.25px;
                        right: -40px;
                        top: 0;
                        bottom: 0;
                        margin-top: auto;
                        margin-bottom: auto;
                        background: url("../../img/algorithm_next.png");
                    }
                }
                &_first {
                    & p::before {
                        content: none;
                    }
                }
                &_last {
                    & p::after {
                        content: none;
                    }
                }
            }
            &_title {
                margin-top: 32px;
                color: #211F1F;
                font-size: 28px;
                font-weight: 500;
                line-height: 110.8%;
            }
            &_text {
                margin-top: 19px;
                color: #211F1F;
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                line-height: 200%;
                opacity: 0.800000011920929;
            }
        }
    }
    &_crop {
        @extend .crop;
    }
}