.first_screen {
    background: url("../../img/first_screen.png") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: var(--white);
    padding-bottom: var(--section_padding-bottom);
    position: relative;
    overflow: hidden;
    &_content {
        margin-top: 66px;
        & .container {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
        }
    }
    &_left {
        max-width: 730px;
        &_btn_fist {
            font-family: "namu-1990";
            font-size: 16px;
            font-weight: 800;
            line-height: 110.8%;
            padding: 13px 44px;
            @extend .btn_with_gradient_border;
        }
        &_title {
            font-family: "namu-1990";
            font-size: 56px;
            font-weight: 800;
            line-height: 110.8%;
            margin-top: 17px;
        }
        &_services {
            @extend .list_with_checkboxes;
            font-weight: 400;
            margin-top: 32px;
        }
        &_box_btn {
            position: relative;
            max-width: 365px;
            margin-top: 32px;
            min-height: 84px;
            &_two {
                position: absolute;
                top: 0;
                left: 0;
                font-family: "namu-1990";
                font-size: 22px;
                font-weight: 800;
                line-height: 120.8%;
                text-shadow: 0px 0px 14px 0px rgba(0, 0, 0, 0.16);
                padding: 24px 50px;
                border-radius: 10px;
                background: linear-gradient(142deg, #E0BAA5 0%, #CB9273 100%);
                z-index: 2;
            }
            &_background {
                position: absolute;
                width: 100%;
                height: 75px;
                top: 5px;
                left: 0;
                border-radius: 10px;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(142deg, #E0BAA5 0%, #CB9273 100%);
            }
        }
        &_btn_two {
            position: relative;
            
            z-index: 2;
            & .background_btn {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 5px;
                left: 0;
                background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(142deg, #E0BAA5 0%, #CB9273 100%);
                z-index: 1;
            }
        }
    }
    &_right {
        max-width: 200px;
        display: flex;
        flex-direction: column;
        gap: 14px;
        &_item {
            background: url("../../img/first_screen_right_item_bac.png") no-repeat;
            -webkit-background-size: cover;
            -moz-background-size: cover;
            -o-background-size: cover;
            background-size: cover;
            margin-bottom: 1px;
            padding: 34.5px 31px 12px 31px;
            min-height: 234.5px;
            & p:nth-child(1) {
                font-family: "namu-1990";
                font-size: 19px;
                font-weight: 800;
                line-height: 153.8%;
                & span {
                    font-size: 36px;
                    font-weight: 800;
                    line-height: 153.8%;
                }
            }
            & p:last-child {
                font-family: 'Manrope', sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 153.8%;
            }
        }
        &_item:last-child {
            z-index: 2;
        }
    }
    &_crop {
        @extend .crop;
        z-index: 4;
    }
    &_person {
        position: absolute;
        width: 582.71px;
        bottom: -90px;
        right: 251px;    
    }
}