*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // outline: 1px solid red;
}
ul {
    list-style-type: none;
}
a {
    text-decoration: none;
    color: var(--white);
}
button {
    border: 0;
}
.container {
    max-width: var(--container_width);
    margin: 0 auto;
    padding: var(--container_padding);
}
