.reviews {
    padding-top: 102px;
    font-family: 'Manrope', sans-serif;
    padding-bottom: var(--section_padding-bottom);
    background: #fdfbfa;
    position: relative;
    &_title {
        @extend .section_title;
    }
    &_subtitle {
        @include section_subtitle(730px, 9px);
    }
    &_docs {
        display: grid;
        grid-template-columns: repeat(5, 185px);
        gap: 5px;
        justify-content: space-around;
        & li {
            & img {
                width: 100%;
            }
        }
    }
    &_list {
        display: grid;
        grid-template-columns: repeat(5, 160px);
        gap: 5px;
        justify-content: space-between;
    }
    &_crop {
        @extend .crop;
    }
}