.btn_with_gradient_border {
    position: relative;
    background-image: linear-gradient(91.65deg, #ecd8cd 12.88%, #d8ae97 100.32%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    &::before {
        content: "";
        position: absolute;
        inset: 0;
        border-radius: 8px;
        border: 1px solid transparent;
        background: linear-gradient(91.65deg, #ecd8cd 12.88%, #d8ae97 100.32%) border-box;
        mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        -webkit-mask:
            linear-gradient(#fff 0 0) padding-box,
            linear-gradient(#fff 0 0);
        -webkit-mask-composite: xor;
        mask-composite: exclude;
    }
}

.list_with_checkboxes {
    display: flex;
    flex-direction: column;
    gap: 19px;
    & li {
        position: relative;
        padding-left: 48px;
        min-height: 30px;
        line-height: 30px;
        font-family: "Manrope", sans-serif;
        font-size: 18px;
        &::before {
            content: url("../../img/checkbox.png");
            position: absolute;
            width: 30px;
            height: 30px;
            top: calc(50% - 15px);
            left: 0;
        }
    }
}
.crop {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}
.section_title {
    color: #f3ba9b;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    line-height: 110.8%;
}
