:root {
    // colors
    --black: #000000;
    --white: #ffffff;
    --brioni: #ECD8CD;

    // container
    --container_width: 1560px;
    --container_padding: 0 200px;
    --container_padding_1210: 0 50px;

    // general
    --section_padding-bottom: 83.5px;
    // --section_title_fz: 16px;
    // --section_subtitle_fz: 38px;

    // header

    //services
    --services_background: #f0f1f4;
}